@layer utilities {

    /* Scrollbars */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE/Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        border-radius: 9999px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        border-radius: 9999px;
        background-color: var(--color-gray);
    }

    .dark .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: #344054;
    }
}